/**
 * @file 左边导航css
 * @author Qc<896853205@qq.com>
 */

/* ---左边导航-开始--- */
.body-nav {
    float: left;
    position: fixed;
    width: 100px;
    height: 100%;
    background: rgb(242,242,242);
    text-align: center;
    padding-top: 20px;
}
.body-nav li {
    padding: 10px;
    position: relative;
}
.span-unit-num {
    position: absolute;
    display: block;
    width: 18px;
    height: 18px;
    top: 3px;
    right: 10px;
    background: rgb(232,56,40);
    border-radius: 50%;
    color: #fff;
    line-height: 18px;
}
/* 选中样式 */
.body-nav .active {
    background: #fff;
    color: rgb(232,56,40);
}
/* ---左边导航-结束--- */